.appear,
.enter {
  opacity: 0;

  &.appear-active,
  &.enter-active {
    opacity: 1;
    transition-property: opacity;
    transition-duration: .3s;
  }
}

.exit {
  opacity: 1;

  &.exit-active {
    opacity: 0;
    transition-property: opacity;
    transition-duration: .3s;
  }
}

.height {
  transition: height .3s ease-in-out;
}

.width {
  transition: width .3s ease-in-out;
}
